<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Flix
    </title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="description" content="">
	<meta name="keywords" content="flix, moviesflix">
	<meta name="author" content="">
    <link rel = "shortcut icon" href =  "./images/logo.png" >
    <link rel=icon href="./images/logo.png" type=image/x-icon>
    <meta name="msapplication-TileImage" content="./images/logo.png">
    <link rel=apple-touch-icon-precomposed href=./images/logo.png>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="./script/fontawesome.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="./style/grid.css">
    <link rel="stylesheet" href="./style/app.css">
    <link rel="stylesheet" href="./style/owl.css">
</head>

<body>

    <!-- NAV -->
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="/" class="logo">
                    <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                </a>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Genre</a></li>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Series</a></li>
                    <li><a href="#">About</a></li>
                    <li>
                        <a href="#" class="btn full-page-srch">
                            <i class='bx bx-search'></i>
                        </a>
                    </li>
                </ul>
                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- END NAV -->
    <!-- HERO SECTION -->
    <div class="hero-section">
        <!-- HERO SLIDE -->
        <div class="hero-slide">
            <% if(locals.status){%>
            <div class="owl-carousel carousel-nav-center" id="hero-carousel">
                <!-- SLIDE ITEM -->
                <% var img = 'https://www.themoviedb.org/t/p/w1920_and_h1080_multi_faces'+ locals.bn1_dt.backdrop_path %>
                <div class="hero-slide-item">
                    <img src='<%= img%>' alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                <%=locals.bn1_dt.original_title%>
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span><%=locals.bn1_dt.vote_average%></span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span><%=locals.bn1_dt.runtime + "mins"%></span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                <%=locals.bn1_dt.overview%>
                            </div>
                            <div class="item-action top-down delay-6">
                                <% var link = '/watch/'+ locals.bn1_dt.id%>
                                <a href='<%=link%>' class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Watch now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->
                <!-- SLIDE ITEM -->
                <% var img = 'https://www.themoviedb.org/t/p/w1920_and_h1080_multi_faces'+ locals.bn2_dt.backdrop_path %>
                <div class="hero-slide-item">
                    <img src='<%= img%>' alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                <%=locals.bn2_dt.original_title%>
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span><%=locals.bn2_dt.vote_average%></span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span><%=locals.bn2_dt.runtime + "mins"%></span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                <%=locals.bn2_dt.overview%>
                            </div>
                            <div class="item-action top-down delay-6">
                                <% var link = '/watch/'+ locals.bn2_dt.id%>
                                <a href='<%=link%>' class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Watch now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->

                <% var img = 'https://www.themoviedb.org/t/p/w1920_and_h1080_multi_faces'+ locals.bn3_dt.backdrop_path %>
                <div class="hero-slide-item">
                    <img src='<%= img%>' alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                <%=locals.bn3_dt.original_title%>
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span><%=locals.bn3_dt.vote_average%></span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span><%=locals.bn3_dt.runtime + "mins"%></span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                <%=locals.bn3_dt.overview%>
                            </div>
                            <div class="item-action top-down delay-6">
                                <% var link = '/watch/'+ locals.bn3_dt.id%>
                                <a href='<%=link%>' class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Watch now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->

                <% var img = 'https://www.themoviedb.org/t/p/w1920_and_h1080_multi_faces'+ locals.bn4_dt.backdrop_path %>
                <div class="hero-slide-item">
                    <img src='<%= img%>' alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                <%=locals.bn4_dt.original_title%>
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span><%=locals.bn4_dt.vote_average%></span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span><%=locals.bn4_dt.runtime + "mins" %></span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                <%=locals.bn4_dt.overview%>
                            </div>
                            <div class="item-action top-down delay-6">
                                <% var link = '/watch/'+ locals.bn4_dt.id%>
                                <a href='<%=link%>' class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Watch now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->

                <!-- END SLIDE ITEM -->
            </div>
            <%}%>
        </div>
        <!-- END HERO SLIDE -->
        <!-- TOP MOVIES SLIDE -->
        <% if(locals.trending_dt){%>
        <div class="top-movies-slide">

            <div class="owl-carousel" id="top-movies-slide">
                <!-- MOVIE ITEM -->
                <% locals.trending_dt.forEach(function(mv){%>
                    <% var link = '/watch/' + mv.id %>
                <a href='<%=link%>' class="movie-item">
                    <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>

                    <img src='<%=img%>' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <%=mv.original_title%>
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span><%=mv.vote_average%> </span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-captions"></i>
                                <span><%=mv.original_language %></span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </a>
                <%})%>
            </div>
        </div>
        <%}%>
        <!-- END TOP MOVIES SLIDE -->
    </div>
    <!-- END HERO SECTION -->

    <!-- LATEST MOVIES SECTION -->
    <div class="section">
        <div class="container-fluid">
            <div class="section-header">
                popular movies
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <% locals.popular_dt.forEach(function(mv){%>
                    <% var link = '/watch/' + mv.id %>
                <a href='<%=link%>' class="movie-item">
                    <%if(mv.poster_path == null){%>
                    
                        <%var img ="./images/noimagesmall.jpg" %>
                        <% } else{ %>
                    <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>
                    <%}%>

                    <img src='<%=img%>' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <%=mv.original_title%>
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span><%=mv.vote_average%> </span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-captions"></i>
                                <span><%=mv.original_language %></span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </a>
                <%})%> 
                
               
              
            </div>
        </div>
    </div>
    <!-- END LATEST MOVIES SECTION -->

    <!-- TOP_RATED  MOVIES SECTION -->
    <div class="section">
        <div class="container-fluid">
            <div class="section-header">
                Action movies
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel owl-theme">
                <!-- MOVIE ITEM -->
                <% locals.action_dt.forEach(function(mv){%>
                    <% var link = '/watch/' + mv.id %>
                <a href='<%=link%>' class="movie-item">
                    <%if(mv.poster_path == null){%>
                    
                        <%var img ="./images/noimagesmall.jpg" %>
                        <% } else{ %>
                    <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>
                    <%}%>

                    <img src='<%=img%>' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <%=mv.original_title%>
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span><%=mv.vote_average%> </span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-captions"></i>
                                <span><%=mv.original_language %></span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </a>
                <%})%>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>
    <!-- POPULAR MOVIE SECTION -->

    <!-- NOW PLAYING SECTION -->
    <div class="section">
        <div class="container-fluid">
            <div class="section-header">
                Science Fiction
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <% locals.scifi_dt.forEach(function(mv){%>
                    <% var link = '/watch/' + mv.id %>
                <a href='<%=link%>' class="movie-item">
                    <%if(mv.poster_path == null){%>
                    
                        <%var img ="./images/noimagesmall.jpg" %>
                        <% } else{ %>
                    <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>
                    <%}%>

                    <img src='<%=img%>' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <%=mv.original_title%>
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span><%=mv.vote_average%> </span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-captions"></i>
                                <span><%=mv.original_language %></span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </a>
                <%})%>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>
    <!-- END LATEST CARTOONS SECTION -->

    <div class="section">
        <div class="container-fluid">
            <div class="section-header">
            Animation
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <% locals.anime_dt.forEach(function(mv){%>
                    <% var link = '/watch/' + mv.id %>
                <a href='<%=link%>' class="movie-item">
                    <%if(mv.poster_path == null){%>
                    
                        <%var img ="./images/noimagesmall.jpg" %>
                        <% } else{ %>
                    <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>
                    <%}%>

                    <img src='<%=img%>' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <%=mv.original_title%>
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span><%=mv.vote_average%> </span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-captions"></i>
                                <span><%=mv.original_language %></span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </a>
                <%})%>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>




    <div class="section">
        <div class="container-fluid">
            <div class="section-header">
            Comedy
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <% locals.comedy_dt.forEach(function(mv){%>
                    <% var link = '/watch/' + mv.id %>
                <a href='<%=link%>' class="movie-item">
                    <%if(mv.poster_path == null){%>
                    
                        <%var img ="./images/noimagesmall.jpg" %>
                        <% } else{ %>
                    <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>
                    <%}%>

                    <img src='<%=img%>' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <%=mv.original_title%>
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span><%=mv.vote_average%> </span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-captions"></i>
                                <span><%=mv.original_language %></span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </a>
                <%})%>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>


    <div class="section">
        <div class="container-fluid">
            <div class="section-header">
            Documentry
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <% locals.doc_dt.forEach(function(mv){%>
                    <% var link = '/watch/' + mv.id %>
                <a href='<%=link%>' class="movie-item">
                    <%if(mv.poster_path == null){%>
                    
                        <%var img ="./images/noimagesmall.jpg" %>
                        <% } else{ %>
                    <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>
                    <%}%>

                    <img src='<%=img%>' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <%=mv.original_title%>
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span><%=mv.vote_average%> </span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-captions"></i>
                                <span><%=mv.original_language %></span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </a>
                <%})%>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>




    <div class="section">
        <div class="container-fluid">
            <div class="section-header">
            Horror
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <% locals.horror_dt.forEach(function(mv){%>
                    <% var link = 'https://fsapi.xyz/tmdb-movie/' + mv.id %>
                <a href='<%=link%>' target="_blank" class="movie-item">
                    <%if(mv.poster_path == null){%>
                    
                        <%var img ="./images/noimagesmall.jpg" %>
                        <% } else{ %>
                    <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>
                    <%}%>

                    <img src='<%=img%>' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <%=mv.original_title%>
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span><%=mv.vote_average%> </span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-captions"></i>
                                <span><%=mv.original_language %></span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </a>
                <%})%>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>






    <div class="section">
        <div class="container-fluid">
            <div class="section-header">
                latest Series
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <% locals.popular_tv_dt.forEach(function(mv){%>
                    <% var link = '/watch/' + mv.id %>
                <a href='<%=link%>' class="movie-item">
                    <%if(mv.poster_path == null){%>
                    
                        <%var img ="./images/noimagesmall.jpg" %>
                        <% } else{ %>
                    <% var img = 'https://www.themoviedb.org/t/p/w220_and_h330_face/'+ mv.poster_path%>
                    <%}%>

                    <img src='<%=img%>' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            <%=mv.original_title%>
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span><%=mv.vote_average%> </span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-captions"></i>
                                <span><%=mv.original_language %></span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </a>
                <%})%>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>










    <!-- SPECIAL MOVIE SECTION -->
    <div class="section ft_poster">
        <div class="hero-slide-item">
            <% var img = 'https://www.themoviedb.org/t/p/w1920_and_h1080_multi_faces'+ locals.bn1_dt.backdrop_path %>
            <img src='<%=img%>' alt="">
            <div class="overlay"></div>
            <div class="hero-slide-item-content">
                <div class="item-content-wraper">
                    <div class="item-content-title">
                        <%=locals.bn5_dt.original_title%>
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span><%=locals.bn1_dt.vote_average%></span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span><%=locals.bn1_dt.runtime + "mins"%></span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                    <div class="item-content-description">
                        <%=locals.bn5_dt.overview%>
                    </div>
                    <div class="item-action">
                        <% var link = '/watch/'+ locals.bn5_dt.id%>
                        <a href='<%=link%>' class="btn btn-hover">
                            <i class="bx bxs-right-arrow"></i>
                            <span>Watch now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- END SPECIAL MOVIE SECTION -->

    <!-- PRICING SECTION -->
    
    <!-- END PRICING SECTION -->

    <!-- FOOTER SECTION -->
    <footer class="section ft ft-dark">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                        <a href="/" class="logo">
                            <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                        </a>
                        <p>
                            ᶠˡᶦˣᵀⱽ primarily keeps track of TV shows and movies you watch. With  ᶠˡᶦˣᵀⱽ it is easy to find where to watch movies and TV shows on hundreds of streaming sources such as Disney + Hotstar, Netflix, Amazon, Hulu, and Voot.
                        </p>
                        <div class="social-list">
                            <a href="#" class="social-item">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/agent_sidd/" target="_blank" class="social-item">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Quick Links</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">TMDB</a></li>
                                    <li><a href="#">Trailers</a></li>
                                    <li><a href="#">Search</a></li>
                                    <li><a href="#">Contact US</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Browse</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Adventure</a></li>
                                    <li><a href="#">Tv Shows</a></li>
                                    <li><a href="#">Upcoming</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Help</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms of services</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Download app</b></p>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">
                                            <img src="./images/google-play.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="./images/app-store.png" alt="">
                                        </a>
                                    </li>



                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->

    <!-- COPYRIGHT SECTION -->
    <div class="copyright">
        Copyright 2021 <a href="https://www.instagram.com/agent_sidd/" target="_blank">
            agent-sidd</a>
    </div>
    <!-- END COPYRIGHT SECTION -->
  <div class="overlay-search   ">
    <div class="close-btn" onclick="close_search()">
        <i class="fas fa-times"></i>
    </div>
      <div class="overlay-search-content">
         
      <form action="/search" class=" "  id="myform" name="myform"  onsubmit=" return validate();" method="GET" autocomplete="off">
      <input type="text" placeholder="Type here ....." name="q">
      <button type="submit">
        <i class="bx bx-search" style="font-size:25px; color: white;"></i>
      </button>
      
    </form>
  </div>
</div>
    <!-- SCRIPT -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <!-- APP SCRIPT -->
    <script src="./script/index.js"></script>
 <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>

 
</body>

</html>